*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#bookContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 0px 20vw;
}
.book{
    background-color:beige;
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
    border-radius: 20px;
}
svg{
    height: 5vh;
}
.book p{
    flex-grow: 1;
}