@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-darker: #c00f32;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-darker: #05633a;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray5t: #0000005b;
    --gray6: #12181b;
    --gray7: #0b0d0e;
    --font-body: "sofia-pro",sans-serif;
    --font-head: 'Poppins', sans-serif;
    --font-code: "attribute-mono",monospace;
}

body{
    background-color: var(--gray6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
h1,h2,h3,h4,p,button, label{
    font-family: var(--font-head);
    color: white;
    text-shadow: 1.9px 1.9px 0px black;
}
h3{
    color: var(--green);
    font-size: 1.9em;
}
h4{
    font-size: 1.5em;
}
p{
    font-size: 1.25em;
}
button{
    background-color: var(--red-dark);
    border: none;
    font-weight: 700;
    padding: 15px;
    border-radius: 9999px;
    box-shadow: 2.5px 2.5px 0px var(--red-darker);
    transition: all 0.05s;
    font-size: 1.1em;
}
button:active{
    translate: 2.5px 2.5px;
    box-shadow: 0px 0px 0px var(--red-darker);
}
.greenButton{
    background-color: var(--green-dark);
    box-shadow: 2.5px 2.5px 0px var(--green-darker);
}

#bookContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 13px;
    padding: 0px 20vw;
}
.book{
    background-color:var(--gray5);
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
    border-radius: 25px;
}
svg{
    height: 5vh;
}
.book p{
    flex-grow: 1;
}

#formContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 10px;
}

#formContainer *{
    width: 100%;
}

#hidden{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#hidden > div{
    margin: 10px 0;
    display: flex;
}

input{
    background-color: var(--gray7);
    border: 2px solid black;
    padding: 5px;
    padding-left: 10px;
    border-radius: 9999px;

    font-family: var(--font-head);
    color: white;
    text-shadow: 1.9px 1.9px 0px black;
}